{% extends "base.html" %}

{% block titulo %}INDEX USUARIO{% endblock %}

{% block contenido %}
<div class="container m-2">
    <div class="row m-2">    
        <h1>Bienvenid@: {{request.session.user.first_name}} {{request.session.user.last_name}}</h1>
        <div class="col ">
            <a class="btn btn-primary   " href="/wall">Escribir un Post</a>
        </div>
    </div>
    <table class="table table-striped mt-3">
        <thead>
            <tr>           
                <th scope="col"><h4>My Posts</h4></th>
                <th scope="col"><h4>created at</h4></th>
            </tr>
        </thead>
        <tbody>
        {% for post in messages_index %}
            <tr>
                <td>{{post.message}}</td>
                <td>{{post.created}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table table-striped mt-3">
        <thead>
            <tr>           
                <th scope="col"><h4>My Comments</h4></th>
                <th scope="col"><h4>created at</h4></th>
                <th scope="col"><h4> to user</h4></th>
            </tr>
        </thead>
        <tbody>
        {% for post in comments_index %}
            <tr>
                <td>{{post.comment}}</td>
                <td>{{post.created}}</td>
                <td>{{post.message.user}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block libreria %}
{% endblock %}