{% extends "base.html" %}

{% block titulo %}INDEX USUARIO{% endblock %}

{% block contenido %}
<h1>{{user.first_name}} {{user.last_name}}'s Profile</h1>
    <a href="/wall">Escribir un Post</a>
    <h2>Post Realizados</h2>
    {% for post in messages_user %}
    <p>{{post.message}} {{post.created}} </p>
    {% endfor %}
    <h2>Comentarios Realizados</h2>
    {% for post in comments_user %}
    <p>{{post.comment}}  {{post.created}} to {{post.message.user}}</p>
    {% endfor %}

<a href="/logout">SALIR DEL SISTEMA</a>

{% endblock %}

{% block libreria %}
{% endblock %}